# macOS trash
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environnement
env/
venv/
.venv/

# Data
data/

# MLFlow
mlruns/

# Perso
models/
bart_example.ipynb
README.md
twitter.jpg